body {
    scroll-behavior: smooth;
}

/* Mobile menu animation  */
@media (max-width: 768px) {
    .mobile-menu {
        display: none;
    }
    .mobile-menu.active {
        display: block;
    }
}